#!/usr/bin/make -f

export CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
export CFLAGS:=$(shell dpkg-buildflags --get CFLAGS)
export DEBIAN_LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)
export BUILD_DIR=obj-$(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
export DH_QUIET=1

NOCAP := $(shell sysctl -n net.ipv4.ping_group_range | grep -q '^0\s' && echo yes)

%:
	dh $@ --buildsystem=meson+ninja --builddirectory=$(BUILD_DIR)

ifneq ($(NOCAP),yes)
override_dh_auto_test:
endif

